# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Ignore virtual environments
venv/
.env/

# Ignore uploads and tmp files
uploads/
tmp/
*.wav
*.csv

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Git
.git/
.gitignore

utils/rese_utils.py
utils/vgg_utils.py
